section
  h1 NPM
  p.plain
    a(href="https://www.npmjs.org") npmjs.org

section
  p
    strong  NPM
    |  is the official package manager for Node.js

section
  ul
    li NPM runs on the command line and manages dependencies for an application
    li It also allows users to install Node.js applications that are available on the NPM registry

section
  pre.
    <code class="json" data-trim>
    {
      "name": "my-project",
      "version": "0.0.1",
      "description": "My Cool Node Project",
      "main": "index.js",
      "author": "Sterling Archer",
      "dependencies": {
        "grunt": "0.4.2"
      }
    }

    </code>

section
  ul
    li When checking out a fresh project from GitHub, simply run:
      strong  'npm install'
      |  to install all the dependencies required to run the project

    li You can visit the NPM website to learn more about them
