section
  h1 Frontend Tools

section
  h1 NPM
  p
    strong  NPM
    |  is the official package manager for Node.js
  p.plain
    a(href="https://www.npmjs.org") npmjs.org

section
  ul
    li NPM runs on the command line and manages dependencies for an application
    li It also allows users to install Node.js applications that are available on the NPM registry

section
  h3 package.json
  script(type="text/plain", class="language-json").
    {
      "name": "my-project",
      "version": "0.0.1",
      "description": "My Cool Node Project",
      "main": "index.js",
      "author": "Sterling Archer",
      "dependencies": {
        "grunt": "0.4.2"
      }
    }

section
  ul
    li When checking out a fresh project from GitHub, simply run:
      strong  'npm install'
      |  to install all the dependencies required to run the project

    li You can visit the
      a(href='https://docs.npmjs.com/getting-started/what-is-npm')  NPM website
      |&nbsp;to learn more about them
