section
  h1(style="font-size:3.42em") Create React App
  p React bootstrapping starter app from Facebook
  p
    a(href="https://github.com/facebookincubator/create-react-app") github create-react-app

section
  ul
    li Jumpstart React app with no configuration
    li Opinionated setup of Webpack and Babel
      li React, JSX, ES6, CSS, Jest Testing
    li Allows for easy gradual adoption
    li `Eject` to export custom configuration

section
  h1 Webpack
  p webpack is a module bundler for modern JavaScript applications. And more.
  p
    a(href="https://webpack.js.org/") webpack.js.org

section
  ul
    li Webpack bundles up all of your dependencies (to oversimplify it)
    li Produces static assets for what you need
    li ES6, Linting, CSS processing, SourceMaps!
    li `create-react-app` handles the Webpack config for you
