section
  h1 Hapi
  p Framework for building REST API services
  p
    a(href="http://hapijs.com/") hapijs.com

section
  ul
    li A rich framework for building applications and services
    li Created by smart people at Walmart Labs
    li Focuses on configuration
    li Provides us with a complete backend for our lab project
