section
  h1 Jest
  p Zero config, parallelized, snapshot testing framework for JS & React
  p
    a(href="https://facebook.github.io/jest/") facebook.github.io/jest

section
  ul
    li Fast. Run only for related changes. Run in parallel.
    li Built in assertion matchers, mocking library and code coverage
    li Snapshots for better React component verifications
    li Works with TypeScript, Angular, Vue.js

section
  p BDD-style (Behavior Driven Development)
  script(type="text/plain", class="language-jsx", style="width:100%").
    describe('when there is no message', function () {
      beforeEach(function () {
        Snackbar = require('./snackbar');
        element = shallow(<Snackbar />);
      });

      it('should hide the snackbar', function () {
        const div = element.find('div');
        expect(div).toHaveClassName('hide');
      });
    });

section
  h1 axios / moxios
  ul
    li axios is a promise based HTTP client for the browser and node.js
    li moxios is for mocking axios requests while testing

section
  p Making a request
  pre.
    <code class="javascript" data-trim>
      axios.get('/api/users')
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    </code>

section
  p Stubbing a request
  script(type="text/plain", class="language-jsx").
    moxios.stubRequest('/api/users', {
      status: 200,
      response: [
        { id: 1, firstName: 'Fred', lastName: 'Flintstone' },
        { id: 2, firstName: 'Wilma', lastName: 'Flintstone' }
      ]
    });


