section
  h1 Jest
  p Zero config, parallelized, snapshot testing framework for JS & React
  p
    a(href="https://facebook.github.io/jest/") facebook.github.io/jest

section
  ul
    li Fast. Run only for related changes. Run in parallel.
    li Built in assertion matchers, mocking library and code coverage
    li Snapshots for better React component verifications
    li Works with TypeScript, Angular, Vue.js

section
  h1 Enzyme
  p Testing utility to assert, manipulate, and traverse your React Components' output
  p (from Airbnb Engineering)
  p
    a(href="http://airbnb.io/enzyme/index.html") airbnb.io/enzyme

section
  h1 Enzyme Matchers
  p Custom assertion library for Enzyme
  p (from Hudl's Blaine Kasten)
  p
    a(href="https://github.com/blainekasten/enzyme-matchers") github.com/blainekasten/enzyme-matchers

section
  p BDD-style (Behavior Driven Development)
  pre(style="width:100%").
    <code class="javascript" data-trim style="overflow:visible;">
    describe('when there is no message', function () {
      beforeEach(function () {
        Snackbar = require('./snackbar');
        element = shallow(&lt;Snackbar /&gt;);
      });

      it('should hide the snackbar', function () {
        const div = element.find('div');
        expect(div).toHaveClassName('hide');
      });
    });

    </code>

section
  h1 axios / moxios
  ul
    li axios is a promise based HTTP client for the browser and node.js
    li moxios is for mocking axios requests while testing

section
  p Stubbing a request
  pre.
    <code class="javascript" data-trim>
        moxios.stubRequest('/api/users', {
          status: 200,
          response: [
            { id: 1, firstName: 'Fred', lastName: 'Flintstone' },
            { id: 2, firstName: 'Wilma', lastName: 'Flintstone' }
          ]
        });

    </code>


