section
  h1 Project Layout

section
  ul
    li In this training class, you'll be building a React application that tracks employee timesheets across different projects
    li To help speed things along so we can focus on the really important parts (like React/Redux), we've created the base project structure for you

section
  p Let's take a look

section
  h1
    a(href="/labs/setup-and-install-dependencies") Lab 01
  h2.plain Application Setup
