section
  h2 UI Design

section
  h3 Mutual of Omaha Design Guide
  a(href="") Available here

section
  h3 Mutual-ized UI Frameworks
  ul
    li
      a(href="") moo-semantic-ui-css
      p Theme for semantic-ui-react
    li
      a(href="") moo-semantic-ui
      p Shared MoO components
    li
      a(href="") DXD Components
      p Small, but uses 'purer' styles from Brand

section
  h3 Resources
  ul
    li
      a(href="") FEDCoP React Starter
    li
      a(href="") Customer Access
    li
      a(href="") Employer Access