section
  h3 Resources
  ul
    li
      a(href="https://bitbucket.mutualofomaha.com/projects/FED/repos/react-basic-starter/browse") FEDCoP React Starter
    li
      a(href="https://confluence.mutualofomaha.com/confluence/x/9rKnDw") FEDCoP Wiki
    li
      a(href="https://teams.microsoft.com/l/team/19%3a690c99f9f88e4668b1fed9960e688d0c%40thread.skype/conversations?groupId=16fbd49c-6da6-40d2-aa9c-48d726158304&tenantId=e6a39b1b-c46f-4a40-a343-d071fbc9c106") FEDCoP on MSFT Teams
    li
      a(href="https://bitbucket.mutualofomaha.com/projects/FED/repos/moo-redux-utils/browse") MoO Redux Utils