.reveal
  .slides
    section(data-state="title")
      h1 ng workshop
      h2 April 24-25, 2017
    section(*ngFor="let slideDeck of slides;")
      section(*ngFor="let slide of slideDeck")
        dynamic-html([content]="slide")
    section(data-state="title")
      h1 Thanks!
      h2 Any questions?
