section
  h2 Workshop Introductions
  p
    strong Dustin Schau 
      a(href="https://twitter.com/schaudustin") @schaudustin
  p 
    strong Travis Martensen 
      a(href="https://twitter.com/tmartensen") @tmartensen

section
  h2 Who Do We Work For?
  p
    strong Object Partners, Inc. (OPi)
  ul
    li Java, Groovy, Mobile, DevOps, Frontend
    li ~100 Senior Consultants
      ul
        li Omaha & Minneapolis
        li Average tenure over 5 years
    li Founded 1996

section
  h2 Relevant Links
  ul
    li Slidedeck
    ul
      li 
        a(href="https://objectpartners.github.io/react-redux-workshop/")
          nobr https://objectpartners.github.io/react-redux-workshop/
    li Labs
    ul
      li 
        a(href="https://github.com/objectpartners/react-redux-workshop/")
          | Instructions 
      li 
        a(href="https://github.com/objectpartners/react-redux-timesheet/")
          | Code Repo 
      li
        a(href="https://github.com/objectpartners/react-redux-api/")
          | Server Side API 

section
  h2 Format
  ul
    li Lecture
    li Individual Labs
    li Review
    li Repeat

section
  h2 Workshop Objectives
  ul
    li React Vocabulary and Concepts
    li Redux Usage
    li Familiarity with Modern JS Tools

section
  h1 Topics
  ul
      li Project Setup and Build Tools
      li React Basics
      li Redux
      li Routing
      li Forms and Validation

section
  h1 The lab(s)

section
  h2 Timesheetz
  p We will build a fully-functioning React/Redux application together.
  p It is an application for tracking and updating timesheets. Woot Woot.

section
  h2 Teammates
  ul
    li
      strong Designers
      | : Will provide styles and page designs.
    li
      strong Server Team
      | : Provide a REST Api and NodeJs application server.
    li
      strong Product Owners
      | : Provide us with requirements along the way.
    li
      strong Front End Team
      | : This is all of us and we are awesome!
