section
  h2 Who Do We Work For?

section
  img(src="~./../../../resources/images/2015-OPI-Logo-Long.png")
  i Building and delivering custom software solutions since 1996

section
  h3 Object Partners, Inc
  ul
    li ~160 consultants, all senior level & salaried
    li Minneapolis (HQ), Omaha, and remote
    li Practice Areas
      ul
        li Cloud Engineering
        li Real-time Data
        li Modern API's (Java, Groovy, DevOps)
        li Mobile
        li Web
    li Partnerships
      ul
        li Confluent
        li Amazon Web Services

section
  h2 Relevant Links
  ul
    li Labs, Slidedeck, etc.
    ul
      li 
        a(href="https://react-training.objectpartners.com")
          nobr https://react-training.objectpartners.com
    li Labs
    ul
      li 
        a(href="https://github.com/objectpartners/react-redux-workshop/")
          | Instructions 
      li 
        a(href="https://github.com/objectpartners/react-redux-timesheet/")
          | Code Repo 
      li
        a(href="https://github.com/objectpartners/react-redux-api/")
          | Server Side API 

section
  h2 Format
  ul
    li Lecture
    li Individual Labs
    li Review
    li Repeat

section
  h2 Workshop Objectives
  ul
    li React Vocabulary and Concepts
    li Familiarity with Modern JS Tools

section
  h1 Topics
  ul
      li Project Setup and Build Tools
      li React Basics
      li Routing
      li Redux
      li Context
      li Forms and Validation
      li Hooks

section
  h1 The labs

section
  h2 Timesheetz
  p We will build a fully-functioning React application together.
  p It is an application for tracking and updating timesheets. Fun!

section
  h2 Teammates
  ul
    li
      strong Designers
      | : Provide styles and page designs.
    li
      strong Server Team
      | : Provide a REST API and Node.js application server.
    li
      strong Product Owners
      | : Provide us with requirements along the way.
    li
      strong Front End Team
      | : This is all of us and we are awesome!
