h2 Teammates
ul
    li
        strong Designers
        | : Will provide styles and page designs.
    li
        strong Server Team
        | : Provide a REST Api and NodeJs application server.
    li
        strong Product Owners
        | : Provide us with requirements along the way.
    li
        strong Front End Team
        | : This is all of us and we are awesome!
