section
  h2 Alternate State Management Libraries

section
  h3 MobX
  img(src="~./images/mobx.png" style="height: 200px;")
  p
    a(href="https://mobx.js.org/") link
  ul
    li Uses functional reactive programming techniques
    li State management via the use of observables
    li Similar to Redux + computed values like Vue

section
  h3 Unstated
  img(src="~./images/unstated.png" style="width: 400px;")
  p
      a(href="https://github.com/jamiebuilds/unstated") link
  ul
    li Uses React’s Context API
    li Provides a Container class, a Subscribe component and a Provider component