section
  h1 React Components
  h3 a deeper dive

section
  p We've seen how to give data to a component (via props)
  p ...but what if a component needs to keep track of something itself?

section
  h2 State
  ul
    li <span class="component red">state</span> is your component's internally scoped ... state
    li Used to track & control the behavior of your component: open, disabled, submitted, etc.