section
  h1 React and Local State

section
  h2 What is State?
  ul
    li <span class="component red">state</span> is your component's internally scoped ... state
    li Used for the behavior of your component: open, disabled, submitted, etc.

section
  iframe(src="https://codesandbox.io/embed/2zm14j362r?module=%2Fsrc%2Fcomponents%2Findex.js", style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;", sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin")
