section
  h1 React Components
  h3 a deeper dive

section
  h2 What is State?
  ul
    li <span class="component red">state</span> is your component's internally scoped ... state
    li Used for the behavior of your component: open, disabled, submitted, etc.