section
  h2 Initializing State
  script(type="text/plain", class="language-jsx").
    class Name extends React.Component {
      state = {
        name: 'Sterling Archer'
      };
    }

section
  h2 Updating State
  h3 The right way
  script(type="text/plain", class="language-jsx").
    this.setState({
      name: 'Tim'
    });

  h3 The wrong way
  script(type="text/plain", class="language-jsx").
    this.state.name = 'Tim';

section
  h2 Lifting State Up

section
  iframe(src="https://codesandbox.io/embed/rr8nvr5vqn?module=%2Fsrc%2Fcomponents%2Findex.js", style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;", sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin")
