section
  h2 State updates may be asynchronous

section
  h3 Good
  script(type="text/plain", class="language-jsx").
    this.setState(prevState => ({
      counter: prevState.counter + 1
    }));

  h3 Bad
  script(type="text/plain", class="language-jsx").
    this.setState({
      counter: this.state.counter + 1
    });

section
  h2 State updates are merged

section
  h3 Given this state initialization
  script(type="text/plain", class="language-jsx").
    constructor(props) {
      super(props);
      this.state = {
        posts: ['First'],
        comments: ['No Comments']
      };
    }

section
  h3 Merges with the existing state
  script(type="text/plain", class="language-jsx").
    this.setState({
      comments: ['Hello', 'Another one']
    });
  p yields
  script(type="text/plain", class="language-jsx").
    {
      posts: ['First'],
      comments: ['Hello', 'Another one']
    };

section
  iframe(src="https://codesandbox.io/embed/w6n7lw3957?module=%2Fsrc%2Fcomponents%2Findex.js", style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;", sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin")