section
  h2 JSX Expression Bindings
  p Embeds any javascript expression in JSX by wrapping it in curly braces

section
  h3 String values
  script(type="text/plain", class="language-jsx").
    const Hello = props => {
      return (
        <h1>Hello {props.name}</h1>
      );
    };

section
  h3 React elements
  script(type="text/plain", class="language-jsx").
    const Hello = props => {
      return (
        <div>
          {props.children}
        </div>
      );
    };

section
  script(type="text/plain", class="language-jsx").
    const List = props => {
      return (
        <ul>
          {
            props.items.map(item => <li key={item}>{item}</li>)
          }
        </ul>
      );
    };

section
  h3 Callbacks/events
  script(type="text/plain", class="language-jsx").
    const Hello = props => {
      return (
        <h1 onClick={props.onClick}>Hello {props.name}!</h1>
      );
    };

section
 iframe(src="https://codesandbox.io/embed/8zq86r98kj?module=%2Fsrc%2Fcomponents%2Findex.js", style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;", sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin")
