section
  h2 JSX Expression Bindings
  p Embeds any javascript expression in JSX by wrapping it in curly braces

section
  h3 String values
  script(type="text/plain", class="language-jsx").
    const Hello = props => {
      return (
        <h1>Hello {props.name}</h1>
      );
    };

section
  h3 React elements
  script(type="text/plain", class="language-jsx").
    const Hello = props => {
      return (
        <div>
          {props.children}
        </div>
      );
    };

section
  h3 Lists
  script(type="text/plain", class="language-jsx").
    const List = props => {
      return (
        <ul>
          {
            props.items.map(item => <li key={item}>{item}</li>)
          }
        </ul>
      );
    };

section
  h3 Callbacks/events
  script(type="text/plain", class="language-jsx").
    const Hello = props => {
      return (
        <h1 onClick={props.onClick}>Hello {props.name}!</h1>
      );
    };

section
  h3 Conditional Rendering
  p Can use JS operators like && and ternary to decide whether to include/exclude JSX

  script(type="text/plain", class="language-jsx").
    const Hello = props => {
      return (
        <div>
          {props.wave && <p>Wave!</p>}
          {props.friendly ? <p>Smile!</p> : <p>Scowl</p>}
        </div>
      );
    };
