section
  h3 Hot Reloading
  p After making changes, Webpack rebuilds your app so you can use it almost immediately
  p CRA detects this and reloads your app automatically 🎉
  p ...but reloading the app resets Redux and React component state. 😢

section
  h3 react-hot-loader
  p Provides a way to reload only the portions of the DOM that changed
  a(href="http://gaearon.github.io/react-hot-loader/") Check it out
  p Requires some custom config to work with create-react-app