section
  h2 UI Design

section
  h3 Mutual of Omaha Design Guide
  a(href="http://design.mutualofomaha.com/digital/") Available here

section
  h3 Mutual-ized UI Frameworks
  ul
    li
      a(href="https://bitbucket.mutualofomaha.com/projects/FED/repos/moo-semantic-ui-css/browse") moo-semantic-ui-css
      p Theme for Semantic UI React
    li
      a(href="https://bitbucket.mutualofomaha.com/projects/FED/repos/moo-semantic-ui/browse") moo-semantic-ui
      p Shared MoO components based on Semantic UI React
    li
      a(href="https://bitbucket.mutualofomaha.com/projects/FED/repos/react-dxd-components/browse") DXD Components
      p Small, but is based directly off the Digital Design System from Brand/Marketing

