section
  h3 React Patterns @ Mutual
  p No firm 'must use' patterns or libraries, use general best practices and what your team is comfortable with
  p Good idea to build on work from other teams, follow their lead

  ul
    li RPD
    li CAW
    li EAW

section
  h3 GWT to React
  p Mutual has lots of Google Web Toolkit (GWT) apps
  p Lessons learned from Customer Access conversion