section
  h2 React@next

section
  h3 Helpful newer top-level APIs

section
  h3 React.Fragment
  script(type="text/plain", class="language-jsx").
    function App() {
      return (
        <React.Fragment>
          <h1>Hello World</h1>
          <h2>Another one</h2>
        </React.Fragment>
      );
    }

section
  h3 React.createRef

  script(type="text/plain", class="language-jsx").
    class Hello extends React.Component {
      constructor(props) {
        super(props);

        this.inputRef = React.createRef();
      }

      componentDidMount() {
        this.inputRef.current.focus();
      }

      render() {
        return <input type={text} ref={this.inputRef} />
      }
    }

section
  h3 ReactDOM.createPortal(child, container)

  script(type="text/plain", class="language-jsx").
    class Tooltip extends React.Component {
      render() {
        return ReactDOM.createPortal(
          this.props.children,
          document.getElementById('tooltip')
        );
      }
    }

section
  h3 React.lazy, React.Suspense

  script(type="text/plain", class="language-jsx").
    const LazyLoadedComponent = React.lazy(() => import('./abc.jsx'));

    export const AsyncVersionOfComponent = props => (
      <React.Suspense fallback={<SomeLoadingSpinnerComponent />}>
        <LazyLoadedComponent {...props} />
      </React.Suspense>
    );

section
  h3 Hooks
  p Can be thought of as reusable higher-order wrappers for Functional Components
  p Mostly syntactic sugar - cleaner, simpler way to do things you can already do

  ul
    li Add State or lifecycle
    li Connect to Context
    li Create your own!
