.react-logo {
  animation: spin infinite 30s linear;
  margin: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.react-logo-container {
  background-color: #222;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
