section
  h1 Working with React

section
  h2 Development vs Production

  p React has modes that determine what code and tools are shipped to the browser
  p Make sure your application runs in Production mode when deployed!

section
  h2 Debugging

  p Browser devtools make JS debugging super easy
  p !!Sourcemaps are important!!

section
  h2 React Devtools

  ul
    li Easy way to associate React components to their rendered form in the DOM
    li Allows real-time changes to state & props to test edge-cases

section
  img(src="~./images/react-devtools.png")

section
  h2 Redux Devtools

  ul
    li Timeline of Redux actions and their effects
    li Allows time-travel and extra insight into how you're interacting with Redux

section
  img(src="~./images/redux-devtools.png")
