section
  h1 Frontend Tools

section
  img(src="~./images/node-logo.png")
  p
    strong  Node.js
    |  is a JavaScript runtime environment
  p.plain
    a(href="https://www.nodejs.org") nodejs.org

section
  ul
    li Node.js brings JavaScript to a non-browser environment
    li It enables portable, event-driven applications that are lightweight and efficient
    li There is a huge Node.js ecosystem making it easy to find reusable code and get help

section
  h1 NPM
  p
    strong  NPM
    |  is the official package manager for Node.js
  p.plain
    a(href="https://www.npmjs.org") npmjs.org

section
  ul
    li NPM runs on the command line and manages dependencies for an application
    li It also allows users to install Node.js applications that are available on the NPM registry

section
  img(src="~./images/yarn-logo.png")
  p
    strong  Yarn
    |  is a community-driven package manager for Node.js
  p.plain
    a(href="https://yarnpkg.com") yarnpkg.com

section
  ul
    li Yarn performs the same functions as NPM and has nearly the same command line interface
    li Its advantage over NPM is it claims to make more efficient use of the network and deterministic dependency resolution

section
  h3 package.json
  script(type="text/plain", class="language-json").
    {
      "name": "my-project",
      "version": "0.0.1",
      "description": "My Cool Node Project",
      "main": "index.js",
      "author": "Sterling Archer",
      "dependencies": {
        "react": "^16.3.0"
      }
    }

section
  ul
    li When checking out a fresh project from GitHub, simply run:
      strong  'yarn'
      |  or
      strong  'npm install'
      |  to install all the dependencies required to run the project

    li You can visit the
      a(href='https://docs.npmjs.com/getting-started/what-is-npm')  NPM website
      |&nbsp;to learn more about it
