section
  h1 Project Layout

section
  ul
    li In this training class, you'll be building a React application that tracks employee timesheets across different projects
    li To help speed things along so we can focus on the really important parts (like React/Redux), we've created the base project structure for you

section
  p Let's take a look

section
  h1
    a(href="/labs/setup-and-install-dependencies") Lab 01
  h2.plain Application Setup
  h4 Important!
  p Custom setup directions on following slides

section
  h2 Tools
  p You should already have Git, Node.js, and Yarn installed from pre-lab instructions
  p If you don't you can
  a(href="https://confluence.mutualofomaha.com/confluence/display/FEDG/Development+Environment")  install now
  p  or use a development VDI - contact Abby Jones

sections
  h3 Custom fork directions:
  ol
    li Go to "https://bitbucket.mutualofomaha.com/profile"
    li Click "Import Repository" button at the top
    li Select "Git"
    li Enter "https://github.com/objectpartners/react-redux-timesheet.git" into "Clone URL" field (no username/password)
    li Click "Import Repository"
    li Select "react-redux-timesheet" project
    li Click "Clone" button in upper left, use URL to clone repo to your workstation
