section
  h2 Redux Async Action Libraries

section
  h3 Lots of options
  ul
    li
      a(href="https://github.com/reduxjs/redux-thunk") redux-thunk
    li
      a(href="https://redux-saga.js.org/") redux-saga
    li
      a(href="https://github.com/redux-utilities/redux-promise") redux-promise
    li
      a(href="https://redux-observable.js.org") redux-observable
    li
      a(href="https://github.com/agraboso/redux-api-middleware") redux-api-middleware
    li
      a(href="https://www.npmjs.com/package/redux-async") redux-async

section
  h3 redux-thunk

  ul
    li Lowest learning curve option for managing async actions
    li Very flexible
    li Can be harder to test

section
  img(src="~./images/redux-saga.png" style="width: 400px;")

  ul
    li Manages application side effects (asynchronous server calls, accessing local storage, etc.)
    li Uses ES6 Generators to make async code easier to read & maintain
    li High learning curve, really easy to test
  a(href="https://mike-plummer.github.io/redux-sagas-presentation/") Check this out for more info
