section
  h1 Routing

section
  p Since our backend doesn't serve different "pages", how do we handle different URLs?
  ul
    li.monospace <span class="component red">/</span>
    li.monospace <span class="component red">/login</span>
    li.monospace <span class="component red">/secure/employees</span>
    li.monospace <span class="component red">/secure/timesheets</span>


- var routeTransition = "<span style='color:#999'>=></span>";
section
  p Modern JS frameworks<br/>(Angular, Ember, React, Vue.js)<br/>handle this client-side via Routing
  p.
    These all use the browser's <a href='https://developer.mozilla.org/en-US/docs/Web/API/History'>History API</a>
    <br/>to transition the application
  ul(style="list-style-type:none")
    li.monospace
      p <span class="component red">/#inbox</span> !{routeTransition} <span class="component red">/#sent</span> <br/>
    li.monospace
      p <span class="component red">/opi</span> !{routeTransition} <span class="component red">/objectpartners</span>
    li.monospace
      p <span class="component red">/moments?cat=1</span> !{routeTransition} <span class="component red">/moments?cat=2</span>

section
  h1.lower react-router
  p Declarative routing for React via components
  p
    a(href="https://github.com/ReactTraining/react-router") github react-router
section
  ul
    li Helps us track routes with states of our application
    li Maintains the browser history within the app
    li Able to trigger multiple routes
    li Routes are represented as React Components
    li Routes provides info to components via <span class="component red">props</span>

section
  h2 react-router components we'll be covering...

section
  h2.lower.component BrowserRouter
  p A type of <span class="component red">Router</span> that uses the HTML5 history API to keep your UI in sync with the URL.<br/><br/>
  p One of 5 different types of Routers available in the react-router library.


section
  h2.lower.component Route
  p The core path routing component. Renders some UI when the location matches the Route path.

section
  h3.plain Route config properties we'll cover
  script(type="text/plain", class="language-jsx").
    <Route exact path="/employees" component={Employees}/>
    <Route path='/employees/detail/:_id' component={EmployeesDetail} />
    <Route path='/employees/create' component={EmployeesCreate} />

section
  h3.lower path
  ul
    li Pattern used to match this route against the URL
    li Based on Express-style path strings
      ul
        li e.g. <span class="component red">/employees/:id</span>
        li npm
          a(href="https://www.npmjs.com/package/path-to-regexp")  path-to-regexp
    li.
      If multiple routes match, each will get rendered<br/>
      &nbsp;(unless defined inside a <span class="component red">switch</span>)

    li If path not defined, the route will always render

section
  h3.lower component
  ul
    li The React component to be rendered when the route is active
    li Alternative render properties (not covered today):
      ul
        li <span class="component red">render</span> - quick inline function rendering
        li <span class="component red">children</span> - for complex rendering logic needs

section
  h3.lower exact &amp; strict
  ul
    li.
      <span class="component red">exact</span> - only matches if an
      <span style="font-style:italic">exact</span> match
    li.
      <span class="component red">strict</span> - requires the trailing slash
      <span style="font-style:italic">exact</span> match
    li.
      If <span class="component red">exact</span> is omitted, a route path of <span class="component red">/employees</span>
      will match a URL of <span class="component red">/employees/anything</span>
    li.
      Check the <a href="https://reacttraining.com/react-router/web/api/Route/exact-bool">docs</a> for more info

section
  h2.lower.component Redirect
  p Navigates to a new location. <br/><br/>
  script(type="text/plain", class="language-jsx").
    <Redirect from='/employee-list' to='/employees'/>

section
  h2.lower.component Switch
  p Renders the first child Route/Redirect that matches.<br/><br/>
  script(type="text/plain", class="language-jsx", style="width: 100%;").
    <Switch>
      <Redirect from='/employee-list' to='/employees'/>

      <Route path='/employees/details/:_id' component={EmployeeDetail} />

      <Route path="/employees" component={Employees}/>

      {/* Unreachable: inside Switch && /employees is not exact */}
      <Route path="/employees/depts" component={EmployeesByDept}/>

    </Switch>

section
  h2.lower.component Link
  p Declarative navigation integrated with the router.

section
  ul
    li Renders an <span class="component red">a</span> tag
    li Links to a route in the application
    li If you change the path of your route, <br/>you don't have to change your links as well
    li.
      <span class="component red">NavLink</span> is a specialized version of <span class="component red">Link</span>
    ul
      li Knows when the route it links to is active
      li Dynamic
        span.component.red  activeClassName/activeStyle
      li Has exact and strict params like a Route

section
  h3.lower Link Examples
  script(type="text/plain", class="language-jsx", style="width:100%").
    <Link className={projectsClasses} to="projects">Projects</Link>
    <Link to={`/employees/${id}`} replace>Employees</Link>
    <Link className={timesheetsClasses} to={{
        pathname: '/timesheets',
        search: '?sort=startDate',
        hash: '#id-12345',
        state: { highlightUser: this.state.user._id }
    }}>Timesheets</Link>

section
  h2 Using react-router in your components

section
  h2.lower Route Props
  p Components receive the following props from Router
  ul
    li
      span.component.red match
    li 
      span.component.red location
    li 
      span.component.red history

section
  h3.lower match
  p Object containing information about how the Route matched the URL.
  ul
    li
      <span class="component red">path</span> - Path pattern on the Route that matched
      <br/>
      span(style="margin-left:1em; color:#656565;") e.g.
        span.component(style="font-size:0.95em;") /employee/:id
    li
      <span class="component red">url</span> - URL segment that was matched
      <br/>
      span(style="margin-left:1em;color:#656565;") e.g.
        span.component(style="font-size:0.95em;") /employee/2
    li
      <span class="component red">params</span> - key/values for the dynamic parts of URL
      <br/>
      span(style="margin-left:1em;color:#656565;")
        span.component(style="font-size:0.95em;") /employee/2 =>/employee/:id => {id:2}
    li
      <span class="component red">isExact</span> - true if the entire URL was matched

section
  h3.lower location
  p Represents where the app is, was or will be.
  script(type="text/plain", class="language-jsx").
    {
      key: 'd34cf',
      pathname: '/employees'
      search: '?sortBy=totalHours',
      hash: '#id-1234',
      state: {
        [userDefined]: true
      }
    }

section
  p Where we are
  p.component.red this.props.location
  p Where we were
  p.component.red this.props.history...
  p Where we are going
  script(type="text/plain", class="language-jsx").
    <Link to={location}>link to whatever</Link>

section
  h3 Lab Prep
  p Show Projects and Timesheets implementation

section
  h1
    a(href="/labs/routing-and-components") Lab 03
  h2 Routing and Component Composition
