section
  h3 There's lots of comparisons out there

section
  h3 Jobs
  p Breakdown of jobs on Indeed.com
  img(src="~./images/jobs.png")
  small https://medium.com/@TechMagic/reactjs-vs-angular5-vs-vue-js-what-to-choose-in-2018-b91e028fa91d

section
  h3 Popularity
  img(src="~./images/trends.png")
  small https://trends.google.com/trends/explore?cat=31&date=today%205-y&q=Vue,React,Angular

section
  h2 Benchmarks
  small https://medium.freecodecamp.org/a-real-world-comparison-of-front-end-frameworks-with-benchmarks-2018-update-e5760fb4a962

section
  h3 Performance
  img(src="~./images/performance.png")
  small First meaningful paint (ms) - lower is better

section
  h3 Size
  img(src="~./images/size.png")
  small Transfer Size (KB) - lower is better

section
  h3 SLOC
  img(src="~./images/sloc.png")
  small Lines of Code in Framework - lower is better
