section
  h2 React

section
  h3 Pros
  ul
    li Easy to learn
    li Fast!!
    li Very, very flexible
  .fragment
    h3 Cons
    ul
      li Maybe too flexible?
      li External dependencies are a must (forms, AJAX, etc)

section
  h2 Angular

section
  h3 Pros
  ul
    li Type Safety
    li Google Ecosystem
    li More capable data binding
    li Dependency Injection
  .fragment
    h3 Cons
    ul
      li Slow(er)
      li Complexity
      li Provides everything (too much?)
      li Inflexible

section
  h2 Vue.js

section
  h3 Pros
  ul
    li Fast!
    li Splits difference in terms of opinionated conventions
    li Tiny
  .fragment
    h3 Cons
    ul
      li Relatively young, relatively limited docs & ecosystem
      li Smaller open-source community
      li Unique file format, can be difficult to manage